@media(max-width:770px){
    .cabecalho{
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    .cabecalho a {
        font-size: 2rem;
        width: 30%;
        justify-content: space-evenly;
    }
    .cabecalho nav{
        display: flex;
        width: 60%;
        height: 50%;
        align-items: center;
        margin-bottom: 5%;
    }
    .titulo{
        font-size: 2em;
    }

    .conteudo{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    }
    .conteudo p {
        text-decoration: none;
        font-size: 2.5em;
        font-weight: 400;
    }


    .rodape{
    margin-top: 10px;
        width: 100%;
        height: auto;
        padding: 0 10px;
    }
    .tit-rodape{

        margin-top: 10px;
        margin-bottom: 10px;
    }
}



