
.conteudo {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    height:auto;
}

.titulo{
    margin:  10px;
    text-decoration: none;
    font-size: 4em;
    font-weight: 600;
}

.conteudo figcaption{
    text-decoration: none;
    font-size: 3em;
    font-weight: 600;
}
img {
    width: 60%;
    margin: auto;
    max-width: 100%;
  }
figure{
    margin: auto;
}
.conteudo p {
    padding: 5%;
    text-decoration: none;
    font-size: 2em;
    font-weight: 400;
}